services:
  db:
    image: mysql:8.4    #Estamos bajando una computadora miniatura que ya tiene MySQL instalado.
    container_name: mysql-trail-container
    restart: always
    environment:    #Aquí definimos las credenciales que configuramos en el application.properties.
      MYSQL_DATABASE: trail
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: jyhs
      MYSQL_PASSWORD: 123456
    ports:    #Conecta el puerto de esa computadora miniatura con el puerto de tu computadora real. Así Spring Boot puede entrar.
      - "3307:3306"
    volumes:    #Esto es vital. Sin esto, si borras el contenedor, tus carreras de trail registradas se borrarían. El volumen hace que los datos vivan en tu disco duro, no dentro del contenedor.
      - trail_data:/var/lib/mysql
  adminer:
    image: adminer    # <--- Cambiado de mysql a adminer
    container_name: adminer-trail-visualizer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db            # Esto asegura que la DB levante antes que la interfaz

volumes:
  trail_data:

#Una vez instalado Docker Desktop abrir una terminal en la carpeta de mi proyecto y escribir: docker-compose up -d